
<div class="span5 ContactAdd">
  <h3><strong>Headquarters</strong></h3>
  <i class="fa fa-map-marker marginTop10"></i> <p>Programatic Bookshelf Inc..<br />417 W. Arden ave Unit 114c<br />Glendale CA 91203</p>
  <div class="clearfix"></div>
    <i class="fa fa-phone marginTop10"></i><p>Tell: 905-040-3062 <br />Fax: 946-666-4707</p>
    <div class="clearfix"></div>
    <i class="fa fa-envelope marginTop10"></i><p>Email:<br />Web: www.programaticbookshelf.com</p>
    <div class="clearfix"></div>
     <i class="fa fa-user marginTop10"></i><p><strong>Department Contacts</strong><br/><strong>Customer Service:</strong> Derou Biglari, Manager<br/><strong>Sales Information:</strong> Verjinia Yesaian<br/><strong>Operations:</strong> Andranik Gyumushyan</p>
     <div class="clearfix"></div>
    </div>

</div>
